/* CC9752 brown 9ACD32 yellow green */
body {
	background-color: #FFF;
}

.page {
	width: 100%;
	height: 100%;
	position: relative;
	min-width:500px;
}
.wrapper {
	max-width: 1300px;
	margin: auto;
	position: relative;
}

#page1 {
	background-color: #D1E231;
}

#page2 {
	background-color: #333;
}

#page3 {
	background-color: #E4EF89;
}

#page4 {
	background-color: #E4C9A3;
	background-color: #AC8;
}

#page5 {
	background-color: #CC9752;
}

#wrap2 * {
	color: #EEE;
}

#wrap4 * {
}

#headerhero {
	padding: 0px 0px 20px 0px;
	background-color: #D1E231;
	width: 80%;
}

#headerhero h1 {
	font-size: 80px;
	font-weight: bolder;
	line-height: 80px;
}

.textblk * {
	line-height: 25px;
}

.textblk {
	padding: 15px;
	text-align: center;
	z-index: 10;
}

.greenbg {
	background-color: #D1E231;
}

.lightgreenbg {
	background-color: #E4EF89;
}

.brownbg {
	background-color: #E4C9A3;
}

.opa7 {
	float: right;
	opacity: .7;
}

#teammembers .thumbnail:nth-child(odd):hover {
	background-color: #E4EF89;
}

#teammembers .thumbnail:nth-child(even):hover {
	background-color: #E4EF89;
}

#teammembers .thumbnail {
	padding: 15px;
	border-radius: 5px;
	background-color: #E4C9A3;
	height: 100%
}

#teammembers {
	height: 400px;
}

#competition {
	padding: 10px;
	background-color: white;
}

#competition .thumbnail {
	padding: 0px;
	border: 0px;
	min-height: 500px;
}

#archdiv {
	width: 1000px;
	width: 800px;
}

#archdesc {
	float: right;
	width: 190px;
}

#rmtab * {
	border: 0px;
	padding: 10px;
}

#rmtab {
	border: 0px;
}

.carArrow {
	margin-top: 80%;
}



/*
#wrapper {
	margin: auto;
}

#content {
	position: absolute;
	margin-top: 350px;
	background-color: #FFF;
	padding: 10px;
}
#header {
	height: 220px;
	position: fixed;
	z-index: 10;
	width: 100%;
}
#headtag {
	min-width: 1200px;
	position: fixed;
	z-index: 9;
	margin-top: 220px;
	height: 130px;
}
	#headtag h4 {
		line-height: 25px;
		text-align: center;
	}

h4 {
	line-height: 25px;
}

p {
	font-size: 15px;
}

.greenbg {
	background-color: #D1E231;
}

.lightgreenbg {
	background-color: #D1E231;
	background-color: #E4EF89;
}
.brownbg {
	background-color: #D1E231;
	background-color: #E4C9A3;
}*/